@model IVS.Models.Model.CategoryModel
@{
    ViewBag.Title = "Edit Category";
}
<section class="content-header">
    <h1>Edit Category</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> @Html.ActionLink("Home", "Index", "Home", null, new { })</a></li>
        <li>@Html.ActionLink("Category", "Index", "Category", null, new { })</li>
        <li class="active">Edit</li>
    </ol>
</section>
@if (!String.IsNullOrEmpty((string)TempData["Error"]))
{
    <div id="error" class="error">
        @TempData["Error"]
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Advanced Table</div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                @Html.DisplayNameFor(m => m.code)
                                <label class="lblRequirement">*</label>
                                @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.DisplayNameFor(m => m.name)
                                <label class="lblRequirement">*</label>
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.DisplayNameFor(m => m.parent_id)
                                <br />
                                @Html.DropDownListFor(m => m.parent_id, (SelectList)ViewBag.Parent, new
                   {
                       @class = "form-control input-sm selectpicker",
                       @id = "ParentID"
                   })
                            </div>
                            <div class="form-group">
                                @Html.DisplayNameFor(m => m.description)

                                @Html.TextAreaFor(m => m.description, new { @class = "form-control input-sm", maxlength = "256", @style = "height: 125px;" })
                            </div>
                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Cancel", "Index", "Category", new { }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
            </div>
        </div>
    </div> <!-- end div row -->


            @section scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script>
                    $(document).ready(function () {
                        $('#code').focus();
                    });
                    $('#ParentID').selectpicker({
                        width: "280px",
                        liveSearch: true,
                        noneSelectedText: '',
                    });
                    $('.selectpicker').selectpicker('setStyle', 'btn-sm', 'add');

                </script>

            }
