@model PagedList.IPagedList<IVS.Models.Model.CategoryViewModel>
@using PagedList.Mvc;

<table class="table table-bordered table-hover">
    @if (Model != null)
    {
        <tr class="headerTable">
            <th>
                 @Html.DisplayNameFor(model => model.FirstOrDefault().code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().parent_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().description)
            </th>
            <th>Action</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.code, "View", "Category", new { @id = item.id }, new { })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.parent_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Edit", "Category", new { id = item.id })" title="Edit">Edit</a>
                        @using (Html.BeginForm("Delete", "Category", FormMethod.Post, new { id = "formDelete_" + item.id, @class = "form-inline", @style = "Display:inline" }))
                        {
                            @Html.Hidden("id", item.id);
                            <a href="#" class="btnDelete" id="@item.id" onclick="return btnDeleteClick(@item.id)">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <div class="success pull-right" >
                        @Html.PagedListPager(Model, page => Url.Action("Index", "Category", new { page }),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divList" }))
                    </div>
                </td>
            </tr>
        </tfoot>
    }
</table>
@section scripts {
    <script type="text/javascript">      
        $(document).ready(function () {
            $('.selectpicker').selectpicker('setStyle', 'btn-sm', 'add');
        })
    </script>
}