@model PagedList.IPagedList<IVS.Models.Model.MeasureViewModel>
@using PagedList.Mvc;
<table class="table table-bordered table-hover tableData">
    @if (Model != null)
    {
        <tr class="headerTable">
           
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().code)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().description)
            </th>
            <th class="text-center"> Option
            </th>
        </tr>
        <tbody>
            
            @foreach (var item in Model)
            {
                <tr>

                    <td class="text-center">
                        @Html.ActionLink(item.code, "MeasureView", "Measure", new { @id = item.id }, new { })
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("MeasureEdit", "Measure", new { id = item.id })" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                        @using (Html.BeginForm("Delete", "Measure", FormMethod.Post, new { id = "formDelete_" + item.id, @class= "form-inline", @style="Display:inline" }))
                        {
                            @Html.Hidden("id", item.id);
                            <a href="#" class="btnDelete" id="@item.id" onclick="return btnDeleteClick(@item.id)"><span class="glyphicon glyphicon-trash"></span></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <div class="success pull-right">
                        @Html.PagedListPager(Model, page => Url.Action("MeasureSearch", "Measure", new { page }),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divList" }))
                    </div>
                </td>
            </tr>
        </tfoot>
    }
</table>


